.HeroSection{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    width: 85%;
    height: calc(90vh - 120px);
    border-radius: 3rem;
    margin-left: auto;
    margin-right: auto;
}



/* LEFT ****************************************************** */

.left {
    width: 30%;
    height: 100%;
    overflow-x: auto;
    border-radius: 3rem;
    transition: width 0.5s ease; 
}

.left .navegationMenu {
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
    margin-bottom: 9rem;
}

.expand-button {
    display: none;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 0 3rem 3rem 0;
    cursor: pointer;
}

@media (max-width: 768px) {
    .left {
        width: 0;
    }
    .expand-button {
        display: block; 
    }
}

.expanded {
    width: 100%;
}

.left::-webkit-scrollbar {
    width: 12px;
}

.left::-webkit-scrollbar-thumb {
    background-color: transparent;
    border-radius: 6px;
}

.left::-webkit-scrollbar-track {
    background-color: transparent;
}

.left::-moz-scrollbar {
    width: 12px;
}

.left::-moz-scrollbar-thumb {
    border-radius: 6px;
}

.left::-moz-scrollbar-track {
    background-color: #ffffff;
}

@keyframes show {
    from {
        opacity: 0;
        scale: 5%;
    }

    to {
        opacity: 1;
        scale: 100%;
    }
}

.Cards {
    width: 100%;
    height: auto;
    border-radius: 2rem;
    margin-bottom: 1rem;
    text-align: center;
    overflow: hidden;
    animation: entradaDesdeArriba2 1.5s ease-in-out;
}

.Cards img {
    width: 100%;
    height: auto;
    border-radius: 2rem;
    object-fit: cover;
    transition-duration: 0.4s;
    display: flex;
    align-items: center;
}

.Cards:hover img {
    transition-duration: 0.4s;
    transform: scale(1.2);
}

@keyframes entradaDesdeArriba2 {
    from {
        transform: translateY(-300%);
    }
    to {
        transform: translateY(0);
    }
}


.Cards {
    overflow: hidden; 
    width: 100%; 
    height: auto;

    border-radius: 2rem;
    margin-bottom: 1rem;
    text-align: center;
}

.Cards img {
    max-width: 100%;
    height: auto;
    border-radius: 2rem; 
    object-fit: cover;
    transition-duration: .4s;
    display: flex;
    align-items: center;
}


.Cards:hover img {
    transition-duration: .4s;
    transform: scale(1.2);
}




/* RIGHT  ******************************************************/

.Right{
    width: 60%;
    height: 100%;
    overflow-x: auto;

    margin-left: auto;
    margin-right: auto;

}


.Right::-webkit-scrollbar {
    width: 12px; 
}

.Right::-webkit-scrollbar-thumb {
    background-color: transparent;
    border-radius: 6px; 
}

.Right::-webkit-scrollbar-track {
    background-color: transparent;
}

.Right::-moz-scrollbar {
    width: 12px;
}

.Right::-moz-scrollbar-thumb {
    border-radius: 6px;
}

.Right::-moz-scrollbar-track {
    background-color: #ffffff;
}



.Grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Cambio: define columnas responsivas */
    gap: 2rem; /* Espacio entre las tarjetas */
}

.Tarjetas {
    width: 100%;
    height: auto;
    background-image: url(../assets/Fondo\ Menu.jpg);
    border-radius: 1rem;
    padding: 1rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column; /* Cambio: ahora es vertical */
    margin-bottom: 2rem;
    animation: entradaDesdeArriba 1.5s ease-in-out;
}

@keyframes entradaDesdeArriba {
    from {
        transform: translateY(-1000%);
    }
    to {
        transform: translateY(0);
    }
}

.Tarjetas img {
    width: 100%;
    height: auto;
    max-width: 300px;
    margin: auto; 
    margin-bottom: 1rem; 
}

.Tarjetas > div {
    margin-left: 0;
}

.Tarjetas h2, .Tarjetas p, .Tarjetas figcaption {
    color: aliceblue;
    text-align: center;
    margin: 0; 
}

.Tarjetas h2 {
    font-size: 2.7rem;
    margin-bottom: 0.5rem; /* Cambio: Reducir el margen inferior */
}

.Tarjetas h3 {
    font-size: 1.7rem;
    margin-bottom: 0.5rem; /* Cambio: Reducir el margen inferior */
}

.Tarjetas p {
    font-size: 1.4rem;
    margin-bottom: 0.5rem; /* Cambio: Reducir el margen inferior */
}

.Tarjetas figcaption {
    font-size: 1rem;
}

.Tarjetas .calificaciones {
    font-size: 2rem;
    margin-bottom: 0.5rem;
}

.Tarjetas .Precio {
    font-size: 1.9rem;
}


@media screen and (max-width: 768px) {

    .Right{
        width: 100%;
    }

    .Tarjetas img {
        width: 70%
    }
}


@media screen and (max-width: 500px) {
    .Tarjetas img {
        width: 50%;
        max-width: 100%;
        margin: auto; 
        margin-bottom: 1rem; 
    }

    .Tarjetas > div {
        margin-left: 0;
    }

    .Tarjetas h2 {
        font-size: 2rem; /* Reducir el tamaño del título */
        margin-bottom: 0.3rem; /* Reducir el margen inferior del título */
    }

    .Tarjetas h3 {
        font-size: 1.5rem; /* Reducir el tamaño del subtítulo */
        margin-bottom: 0.3rem; /* Reducir el margen inferior del subtítulo */
    }

    .Tarjetas p {
        font-size: 1.2rem; /* Reducir el tamaño del texto */
        margin-bottom: 0.3rem; /* Reducir el margen inferior del texto */
    }

    .Tarjetas .calificaciones {
        font-size: 1.5rem; /* Reducir el tamaño de las calificaciones */
        margin-bottom: 0.3rem; /* Reducir el margen inferior de las calificaciones */
    }

    .Tarjetas .Precio {
        font-size: 1.5rem; /* Reducir el tamaño del precio */
    }

    .Tarjetas figcaption {
        font-size: 0.8rem; /* Reducir el tamaño del pie de página */
    }
}
