@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

body {
    font-family: 'Indie Flower', cursive, sans-serif;
    font-size: 16px;
    box-sizing: content-box;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    background-image: url(../assets/Texture.jpg);
    background-size: cover;
    background-repeat: repeat;
}

*,
*::after
*::before{
    box-sizing: inherit;
}

main{
    max-width: 95%;
    margin-left: auto;
    margin-right: auto;
}



header{
    height: 110px;
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;

}

i{
    font-size: 3rem;
    color: aliceblue;
}


/* ***********************NAVEGATION********************** */

.toggleMenu{
    display: none;
    width: 30px;
    z-index: 999;
}

nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

nav img{
    width: 100px;
    margin-top: 10px;
}

nav a {
    font-size: 1.8rem;
    font-weight: 800;
    color: rgb(255, 255, 255);
    text-decoration: none;
    margin-right: 15px;
    margin-left: 15px;
}

nav a:hover{
    transition: .3s;
    color: rgb(253, 186, 0);
}

@media screen and (max-width: 800px) {
    .toggleMenu{
        display: block;
        cursor: pointer;
        position: relative;
        left: 85%;
        width: 50px;
    }

    .Navegation{
        position: absolute;
        top: 50px;
        width: 110%;
        left: 0;
        height: 90vh;
        z-index: 100;

        display: flex;
        flex-direction: column;

        transition: .5s ease;
        transform: translateX(-140%);

        background-image: url(../assets//Texture.jpg);
        background-size: cover;
        background-position: center;
    }

    .Navegation a{
        font-size: 2rem;
        text-align: center;
        padding: 10px;
        transition: .5s ease;
    }

    .Navegation a:hover{
        background-color: black;
        width: 100%;
    }

    .nav-show{
        transition: .5s ease;
        transform: translateX(0);
    }
}

